<%- include header %>
	<!-- case list table -->
	<div class="container">
		<div class="col-md-12">
						<h1><%=ocase.subject%></h1>
						<hr>
						<%-ocase.description%>	
						
		<!-- phases -->				
		<% if(steps != null){ steps.forEach(function(step){%>
			<%=step.step%>
		<% })} %>
		</div>
	</div>
	
	
<%- include footer %>